[viewBag]

[proEventList]
style = "simple_list"
calendar = 1
num = 2
pagination = 1

[proEventCalendar]
style = "smallcal"
calendar = 1
==

<style type="text/css">
@media (max-width: 768px) { 	
	.eventos_home {
    background-color: #ccc;


}
    .lista_eventos {
    padding: 0px;
    border-right: 0px !important;


}

  }
</style>
<div class="eventos_home">

		<div class="col-sm-6 lista_eventos">
			<p class="proximos_eventos">próximos eventos camaleón</p>
			{% component 'proEventList' %}
		</div>
		<div class="col-sm-6 calendario">
			{% component 'proEventCalendar' %}
		</div>

</div>