<style type="text/css">

    .footer-black {
        background-color: #292828;
        color: #FFF;
        padding: 10px;
    }


    div#footer-dinamic {
        background-color: #FFF;
    }

    .footer-imagen {
        /* margin-top: 13px; */
        padding-top: 10px;

        border-top-color: #000;
        border-top-width: 1px;
        border-top-style: solid;
    }
    .footer-text {
       padding-right: 10%;
       padding-left: 10%;
   }

</style>

<div id="footer-dinamic">
    <div class="contenedor">
        <div class="item-footer">
            <div class=" footer-imagen">
             <img  class="style-footer-img" src="{{ ('assets/images/testi6-kristianc.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
         </div>
         <div class="footer-text">
            Actores Sociedad de Gestión es ese lugar donde se encuentran los amigos, los derechos como artistas y lo mas importante...nuestra reivindicación como seres humanos dedicados al arte y la cultura sin importar clase social, raza, condición sexual, clero o religión. Es una entidad de todos y para todos.<br>
            <center>@Krystián Gómez</center>

        </div>
    </div>

    <div class="item-footer">
        <div class=" footer-imagen">
         <img  class="style-footer-img" src="{{ ('assets/images/testi6-luisc.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
     </div>
     <div class="footer-text">
      Recién fundada Actores S.C.G. sufrí un percance de una A.C.V, fui oportunamente atendido como si la mano invisible de Dios hubiese tejido todo a mi favor, sin ser una carga para mis hijas y tratado merecidamente. Desde entonces mi admiración y gratitud por todos y cada uno de los integrantes de esta entidad, se incrementa cada día con creciente intensidad ¡Gracias!<br>
      <center>@Luis Fernando Orozco</center>

  </div>
</div>

<div class="item-footer">
    <div class=" footer-imagen">
     <img  class="style-footer-img" src="{{ ('assets/images/testi6-kristianc.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
 </div>
 <div class="footer-text">
   Ser libre, ser beneficiado por esta hermosa Sociedad que me ha brindado un sueño que estoy construyendo. Gracias por apoyarme todo este tiempo. Significa también hacer parte de esta gran familia que vela por el bienestar de cada uno de sus integrantes.
   <br>
   <center>@Pablo Wills</center>

</div>
</div>

<div class="item-footer">
    <div class=" footer-imagen">
     <img  class="style-footer-img" src="{{ ('assets/images/testi6-anac.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
 </div>
 <div class="footer-text">
    Me siento feliz, creo que es fundamental hacer parte de esta comunidad es un apoyo y un espíritu de familia, la confianza de sentirse apoyado por todas estas personas que trabajan por nuestro gremio.
    <br>
    <center>@Ana Victoria Beltán </center>

</div>
</div>



<div class="item-footer">
    <div class=" footer-imagen">
     <img  class="style-footer-img" src="{{ ('assets/images/testi6-kristianc.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
 </div>
 <div class="footer-text">
   Significa mucho para mí como artista porque han estado muy pendientes. Me gusta la parte creativa y Social para conocernos más y divertirnos.
   <br>
   <center>@Erick David Torres </center>

</div>
</div>

<div class="item-footer">
    <div class=" footer-imagen">
     <img  class="style-footer-img" src="{{ ('assets/images/testi6-rocioc.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
 </div>
 <div class="footer-text">
   Muchas alegrías, me siento bendecida con ellos porque nos dan a todos oportunidades buenas. Están muy pendientes de nosotros, están prestos a colaborar con todos. Qué Dios los siga iluminando y colocándolos en el camino de todos. Gracias.
   <br>
   <center>@Rocio del Carmen Leandro </center>

</div>
</div>

<div class="item-footer">
    <div class=" footer-imagen">
     <img  class="style-footer-img" src="{{ ('assets/images/testi6-rocioc.png')|theme }}" alt="" style="display: block; margin: auto; max-width:90px" alt="bannertop">
 </div>
 <div class="footer-text">
  Un apoyo muy grande, respaldo y sentido de pertenencia. Aunque mi hija es la actriz, toda nuestra familia ha podido tener la bendición de el apoyo y ayudas que brinda el área de Bienestar Social.
  <br>
  <center>@Alejandra Aguirre </center>

</div>
</div>
</div>
</div>
<div class="footer-black">
    <center>BOGOTA -  COLOMBIA</center>
    <center>Avenida Carrera 15 No 103-37, Local 103 PBX (+57 1 ) 520 5192 / (+57 1) 520 5194 CEL 313 8614710</center>
    <center>info@actores.org.co</center>
</div>

<script type="text/javascript">


 var random = Math.floor(Math.random()*6+1);
 $('.item-footer').hide().eq(random).show();
</script>