<div class="hidden-xs">
	<button type="button" class="hazte_socio" data-toggle="modal" data-target="#socio_modal_web">
		<img src="{{ ('assets/images/joinsocio.png') |theme }}">
	</button>
	<div class="modal fade" id="socio_modal_web" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">					
					<div align="center">
						<img src="{{ ('assets/images/socios/tipo_solicitud.png') |theme }}">
						<a href="../plataforma/public/#/solicitud/mayor_edad"><img src="{{ ('assets/images/socios/mayor_edad.png') |theme }}"></a><br>
						<a href="../plataforma/public/#/solicitud/menor_edad"><img src="{{ ('assets/images/socios/menor_edad.png') |theme }}"></a><br>
						<a href="../plataforma/public/#/solicitud/heredero"><img src="{{ ('assets/images/socios/heredero.png') |theme }}"></a><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>