<div class="container">
    <ul class="pgwSlider">
    <li>
        <img src="{{ ('assets/images/blog/noticia_1.png')|theme }}"  alt="Despedida Fin de Año" data-description="Despedida Fin de Año">
    </li>
    <li><img src="{{ ('assets/images/blog/noticia_2.png')|theme }}" alt="Noticia" data-large-src="{{ ('assets/images/blog/noticia_1.png')|theme }}"></li>
    <li>
        <img src="{{ ('assets/images/blog/noticia_1.png')|theme }}" >
        <span>Noticia</span>
    </li>
    <!--li>
        <a href="http://www.nyc.gov" target="_blank">
            <img src="{{ ('assets/images/blog/noticia_4.png')|theme }}" >
        <span>Noticia</span>
        </a>
    </li-->
</ul>
</div>