
<style type="text/css">
@media (max-width: 768px) { 
.testimonios {
    background-color: #DCDA2F;
    padding-top: 50px;
    overflow: hidden ;
    width: 100% !important;
}
   }
</style>


<div class="testimonios">
	<div class="row">
		<div class="col-sm-6 ramdom_1" align="center">
			<div class="ih-item circle colored effect3 right_to_left"><a href="">
				<div class="img"><img src="{{ ('assets/images/testimonios/5.png')|theme }}" alt="img"></div>
				<div class="info">
					<h3>Luis Fernando Orozco</h3>
				</div></a>
			</div>
			<div class="text_testimonio">
				Recién fundada Actores S.C.G. sufrí un percance de una A.C.V, fui oportunamente atendido como si la mano invisible de Dios hubiese tejido todo a mi favor, sin ser una carga para mis hijas y tratado merecidamente. Desde entonces mi admiración y gratitud por todos y cada uno de los integrantes de esta entidad, se incrementa cada día con creciente intensidad ¡Gracias! 
			</div>
		</div>
		<div class="col-sm-6 ramdom_2" align="center">
			<div class="ih-item circle colored effect3 right_to_left"><a href="">
				<div class="img"><img src="{{ ('assets/images/testimonios/2.png')|theme }}" alt="img"></div>
				<div class="info">
					<h3>Ana Victoria Beltán</h3>
				</div></a>
			</div>
			<div class="text_testimonio">
   				Me siento feliz, creo que es fundamental hacer parte de esta comunidad es un apoyo y un espíritu de familia, la confianza de sentirse apoyado por todas estas personas que trabajan por nuestro gremio.
			</div>
		</div>
		<div class="col-sm-6 ramdom_1" align="center">
			<div class="ih-item circle colored effect3 right_to_left"><a href="">
				<div class="img"><img src="{{ ('assets/images/testimonios/1.png')|theme }}" alt="img"></div>
				<div class="info">
					<h3>Rocio del Carmen Leandro</h3>
				</div></a>
			</div>
			<div class="text_testimonio">
				Muchas alegrías, me siento bendecida con ellos porque nos dan a todos oportunidades buenas. Están muy pendientes de nosotros, están prestos a colaborar con todos. Qué Dios los siga iluminando y colocándolos en el camino de todos. Gracias.
			</div>
		</div>
		<div class="col-sm-6 ramdom_2" align="center">
			<div class="ih-item circle colored effect3 right_to_left"><a href="">
				<div class="img"><img src="{{ ('assets/images/testimonios/3.png')|theme }}" alt="img"></div>
				<div class="info">
					<h3>Krystián Gómez</h3>
				</div></a>
			</div>
			<div class="text_testimonio">
            	Actores Sociedad de Gestión es ese lugar donde se encuentran los amigos, los derechos como artistas y lo mas importante...nuestra reivindicación como seres humanos dedicados al arte y la cultura sin importar clase social, raza, condición sexual, clero o religión. Es una entidad de todos y para todos.
			</div>
		</div>
		<div class="col-sm-6 ramdom_1" align="center">
			<div class="ih-item circle colored effect3 right_to_left"><a href="">
				<div class="img"><img src="{{ ('assets/images/testimonios/4.png')|theme }}" alt="img"></div>
				<div class="info">
					<h3>Alejandra Aguirre</h3>
				</div></a>
			</div>
			<div class="text_testimonio">
				  Un apoyo muy grande, respaldo y sentido de pertenencia. Aunque mi hija es la actriz, toda nuestra familia ha podido tener la bendición de el apoyo y ayudas que brinda el área de Bienestar Social.
			</div>
		</div>
		<div class="col-sm-6 ramdom_2" align="center">
			<div class="ih-item circle colored effect3 right_to_left"><a href="">
				<div class="img"><img src="{{ ('assets/images/testimonios/1.png')|theme }}" alt="img"></div>
				<div class="info">
					<h3>Rocio del Carmen Leandro</h3>
				</div></a>
			</div>
			<div class="text_testimonio">
				Muchas alegrías, me siento bendecida con ellos porque nos dan a todos oportunidades buenas. Están muy pendientes de nosotros, están prestos a colaborar con todos. Qué Dios los siga iluminando y colocándolos en el camino de todos. Gracias.
			</div>
		</div>
		<img class="hidden-xs" src="{{ ('assets/images/testi_3.png')|theme }}" alt="img">
	</div>
</div>